@media (min-width:300px) and (max-width:2200px){
    body{
        padding-left: 400px;
    }
.outerbox{
    border: 3px solid black;
    width: 800px;
    height: 500px;
}
.pad{
    padding-left: 20px;
    padding-right: 20px;
}
.box1{
    border: 4px solid grey;
    background-color: grey;
    padding-left: 20px;
}
.box2{
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid grey;
    padding-bottom: 10px; 
}
.in{
    width:700px
}
.c {
    width: 25px;
    height: 25px;
  }
  .box3{
    border: 4px solid gray;
    height: 50px;
    background-color: grey;
    padding-left: 25px;
    padding-top: 10px;
  }
  #button{
    background-color: green;
    color: white;
    width:700px;
    height: 30px;
  }
  #head1{
    padding-left:20px;
  }
}